# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\zrodla-programowanie-java-techniki-zaawansowane\java-techniki-zaawansowane\PP_Laboratorium_2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
